core/com.nokia.carbide.cpp.api.test.support/schema/infImportTestData.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--W3C Schema generated by XMLSpy v2006 sp2 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="BldInfImportData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bldInfFiles"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="bldInfFile">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="rootDirectory" minOccurs="0"/>
				<xs:element ref="buildConfigurations"/>
				<xs:element ref="infComponents" minOccurs="0"/>
				<xs:element ref="makMakeRefs" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="path" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:anyURI">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="sdkId" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
			<!-- We could add restricted SDKs here	if needed	
						<xs:enumeration value="S60_3rd_FP1"/>
						<xs:enumeration value="S60_3rd_MR"/>
	    	-->
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="projectName" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="bldInfFiles">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bldInfFile" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="buildConfig">
		<xs:complexType>
			<xs:attribute name="platform" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="target" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="UDEB"/>
						<xs:enumeration value="UREL"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="buildConfigurations">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="buildConfig" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="infComponent">
		<xs:complexType>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="infComponents">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="infComponent" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="makMakeRef">
		<xs:complexType>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="makMakeRefs">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="makMakeRef" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="rootDirectory">
		<xs:complexType>
			<xs:attribute name="path" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:anyURI">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
