core/com.nokia.carbide.cpp.sdk.core/schema/symbianMacroStore.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--W3C Schema generated by XMLSpy v2006 sp2 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="SymbianMacroStore">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SymbianOSMacros"/>
				<xs:element ref="VendorMacros"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SymbianOSMacros">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="osVersion" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="VendorMacros">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="sdkVendor" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="macro">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="osMacros">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="macro" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="osVersion">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="platformMacros"/>
				<xs:element ref="osMacros"/>
			</xs:sequence>
			<xs:attribute name="version" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="platform">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="macro" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="platformMacros">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="platform" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="sdkVendor">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="macro" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="version" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
